@charset "UTF-8"
/*!
Theme Name: {%= title %}
Theme URI: {%= homepage %}
Author: {%= author_name %}
Author URI: {%= author_url %}
Description: {%= description %}
Version: <%= pkg.version %>
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: {%= prefix %}
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

{%= title %} is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Reset
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
	## Asides
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
@import "variables-site/_variables-site"
@import "mixins/_mixins-master"

/*--------------------------------------------------------------
# Reset
--------------------------------------------------------------*/
@import '_reset'

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@import "typography/_typography"

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
@import "elements/_elements"

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
@import "forms/_forms"

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
@import "navigation/_navigation"

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
@import "modules/_accessibility"

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
@import "modules/_alignments"

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
@import "modules/_clearings"

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
@import "site/secondary/_widgets"

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
@import "site/_site"

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
@import "modules/_infinite-scroll"

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
@import "media/_media"
